DEBUG=True
SECRET_KEY='your_project_secret_key'
REDIS_HOST='The hostname or IP address of the Redis server'
REDIS_PORT='The port number Redis server is running on'
REDIS_DB='The Redis database number to use'
EMAIL_HOST='smtp.gmail.com'
EMAIL_USE_TLS=True
EMAIL_PORT='email port you want to use'
EMAIL_HOST_USER='your email@example.com'
EMAIL_HOST_PASSWORD='your app password' 
